.hr {
    width: 99%;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.container:hover {
    background-color: rgb(230, 230, 230);
}

.container > div > img {
    height: 50px;
    width: 60px;
    margin-right: 20px;
    border-radius: 100%;
}

.container > div > p {
    color: gray;
}

.date {
    margin-left: auto;
    margin-bottom: auto;
    color: gray;
}