.message-div {
    /* margin: 10px 0; */
    display: flex;
    padding: 0 10px;
}

.message {
    border: 1px solid black;
    padding: 7px 5px;
    height: 20px;
}

.BOT {
    border-radius: 0 5px 5px 5px;
    background-color: white;
    display: inline-block;
}

.USER {
    border-radius: 5px 0 5px 5px;
    background-color: blue;
    display: inline-block;
    margin-left: auto;
}

.optionDiv {
    border: 1px solid black;
    border-radius: 0 5px 5px 5px;
    background-color: rgb(227, 227, 227);
    padding: 5px;
}

.optionDiv .message {
    border: none;
    border-radius: 0;
    padding: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0 5px 0 0;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.optionText {
    color: blue;
}

.optionSubText {
    color: rgb(92, 92, 92);
}